* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-black: #000;
  --main-white: #fff;
  --lilac: #f5e8ff;
  --light-green: #e6fac0;
  --medium-green: #5e7d1f;
  --dark-green: #394b2a;
}

h1 {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ------- Header style ------- */

header {
  background-color: var(--main-white);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "a b . . . c c . . d e e";
  height: 90px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header a {
  text-decoration: none;
  color: var(--main-black);
}

/* ..... Menu ..... */
.menu-icon {
  grid-area: a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon img {
  cursor: pointer;
}

/* Menu open state */
.menu.open {
  left: 0; /* Move menu into view */
}

.menu {
  position: fixed;
  top: 0;
  left: -500px; /* Initially off the screen */
  width: 500px;
  height: 100%;
  background-color: var(--main-black);
  transition: left 0.3s ease; /* Smooth transition */
  padding-top: 100px;
  padding-left: 50px;
}

/* Menu links */
.menu a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: var(--main-white);
  font-size: 2.5rem;
}

.menu a:hover {
  color: var(--light-green);
}

/* The color of each anchor is different on each page */
.menu a:nth-child(2) {
  color: var(--light-green);
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 50px;
  background-color: transparent;
  color: var(--main-white);
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.close-btn:hover {
  color: var(--light-green);
}

.login-anchor {
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-anchor > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login-anchor img {
  height: 25px;
}

.headliner {
  grid-area: c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket-icon {
  grid-area: d;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 25px;
}

.order-button {
  grid-area: e;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-black);
}

.order-button a {
  color: var(--main-white);
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
}

.order-button:hover {
  background-color: var(--medium-green);
  transition: 0.5s;
}

header img {
  height: 30px;
}

/* ------- Main style ------- */

main {
  background-color: var(--light-green);
  height: 100vh;
}
