* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-black: #000;
  --main-white: #fff;
  --lilac: #f5e8ff;
  --light-green: #e6fac0;
  --medium-green: #5e7d1f;
  --dark-green: #394b2a;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.3rem;
}

h1,
h2,
h3 {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3em;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.8em;
  letter-spacing: 1px;
}

/* ------- HEADER STYLE ------- */

header {
  background-color: var(--main-white);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "a b . . . c c . . d e e";
  height: 90px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  width: 100%;
  z-index: 9;
}

header a {
  text-decoration: none;
  color: var(--main-black);
}

/* ..... Menu ..... */
.menu-icon {
  grid-area: a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon img {
  cursor: pointer;
}

/* Menu open state */
.menu.open {
  left: 0; /* Move menu into view */
}

.menu {
  position: fixed;
  top: 0;
  left: -500px; /* Initially off the screen */
  width: 500px;
  height: 100%;
  background-color: var(--main-black);
  transition: left 0.5s ease; /* Smooth transition */
  padding-top: 100px;
  padding-left: 50px;
}

/* Menu links */
.menu a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: var(--main-white);
  font-size: 2.5rem;
}

.menu a:hover {
  color: var(--light-green);
  transition: 0.5s;
}

/* The color of each anchor is different on each page */
.menu a:nth-child(2) {
  color: var(--light-green);
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 50px;
  background-color: transparent;
  color: var(--main-white);
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.close-btn:hover {
  color: var(--light-green);
}

.login-anchor {
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-anchor > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login-anchor img {
  height: 25px;
}

.headliner {
  grid-area: c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket-icon {
  grid-area: d;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 25px;
}

.order-button {
  grid-area: e;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-black);
}

.order-button a {
  color: var(--main-white);
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
}

.order-button:hover {
  background-color: var(--medium-green);
  transition: 0.5s;
}

header img {
  height: 30px;
}

/* ------- MAIN STYLE ------- */

main {
  padding-top: 90px;
  width: 100vw;
}

.transparent-btn {
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  border: 2px solid var(--main-black);
  padding: 20px 60px;
  width: max-content;
}

.transparent-btn:hover {
  background-color: var(--main-black);
  color: var(--main-white);
  transition: 0.5s;
}

/* ..... Section 1 ..... */

.hero-text-section {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: var(--main-white);
}

.hero-text-section h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

/* ..... Section 2 ..... */

.parallax-section {
  height: 500px;
  background-image: url("../images/Primary-Image-Best-Juice-Cleanses-of-2023-2000-43b07908f1604a119a33ca27916c709f.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ..... Section 3 ..... */

.differences-section {
  padding-bottom: 80px;
}

.differences-section > div:nth-child(1) {
  background-color: var(--lilac);
  height: 80px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.differences-section > div:nth-child(2) {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.differences-cards-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.differences-section-cards {
  width: 250px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.differences-section-cards h2 {
  margin-bottom: 25px;
}

.differences-cards-icon {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  background-color: var(--light-green);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.differences-cards-icon img {
  width: 60%;
}

/* ..... Section 4 ..... */

.immunity-section {
  height: 750px;
  background-color: var(--light-green);
  display: flex;
  justify-content: center;
}

.immunity-section > div {
  height: 100%;
  width: 600px;
}

.left-immunity-container {
  display: flex;
  justify-content: end;
}

.left-immunity-container img {
  height: 750px;
  position: relative;
  top: 80px;
}

.right-immunity-container {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-immunity-container div {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* ..... Section 5 ..... */

.chooseHeadliner-section {
  background-color: var(--main-white);
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chooseHeadliner-section h1 {
  position: relative;
  top: 40px;
}

/* ..... Section 6 ..... */

.chooseCards-section {
  padding-bottom: 80px;
  background-color: var(--lilac);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-cards-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.choose-section-cards {
  width: 305px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -50px;
}

.choose-section-cards:nth-child(2) {
  top: -100px;
}

.choose-section-cards h2 {
  margin-bottom: 25px;
}

.choose-cards-img {
  width: 100%;
  margin-bottom: 30px;
}

.choose-cards-img img {
  width: 100%;
}

.chooseCards-section button {
  width: 250px;
}

/* ..... Section 7 ..... */

.discover-section {
  height: 750px;
  background-color: var(--main-white);
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.discover-section > div {
  height: 100%;
  width: 600px;
}

.left-discover-container {
  display: flex;
  justify-content: end;
  padding-right: 40px;
}

.left-discover-container img {
  height: 590px;
}

.right-immunity-container {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-immunity-container div {
  width: 450px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.discover-section button {
  width: 250px;
}
