/* pr0jects */
body {
  background-color: #e6dacd;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  padding: 2em 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.blue-div {
  width: 1.2em;
  height: 1.2em;
  background-color: blue;
}

.separation {
  margin-right: 0.3em;
}
.nav-naming {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
}

.smalldiv-name {
  display: flex;
  align-items: center;
}
.smalldiv-name p {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.navigation {
  width: 40%;
}
.navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navigation ul li {
  padding-right: 1em;
  cursor: pointer;
  list-style-type: none;
}
.navigation ul li a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.navigation ul li:first-child {
  pointer-events: auto;
  color: #0150fd;
}
.humburger-div {
  display: none;
}

.navigation ul li:hover {
  color: #0150fd;
}
.title-resume {
  margin-top: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-resume h1 {
  margin-left: 1em;
}
.project-p {
  font-family: "Poppins", sans-serif;
  width: 51%;
  font-size: 1em;
  margin: 1em auto 3em auto;
  text-align: center;
  line-height: 1.5em;
  color: rgb(70, 63, 63);
}
#project-title {
  line-height: 1.5em;
  color: rgb(70, 63, 63);
}
.project-title {
  margin-left: 1.5em;
}

.mainproject-div {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: 0 auto 4em auto;
  background-color: #fff;
}
#mainproject-div {
  margin-bottom: 8em;
}
.mainproject-div p {
  margin-left: 1.5em;
}
.projectname-div {
  margin: auto 0;
  width: 57%;
}
.projectname-div p {
  line-height: 1.7em;
}
.projectname-div h3 {
  color: #0150fd;
  margin-top: 0px;
  margin-bottom: 0.5em;
}
.projectname-div h5 {
  margin-top: 0px;
}
.project-img {
  width: 45%;
}
.project-img img {
  width: 100%;
  height: 100%;
}
.projectblue-div {
  width: 0.5em;
  height: 3em;
  background-color: #0150fd;
  display: block;
}
.bluediv-box {
  display: flex;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.5em 0;
}

.link-wix {
  width: 15.5%;
  text-align: center;
  margin-left: 2em;
}
.link-wix p {
  margin-top: 1.5em;
}
.footer-section h5 {
  margin-bottom: 0.6em;
}
.socialmedia-pic {
  width: 14%;
  padding: 0 0.2em 0 0.2em;
}
.footer-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  float: right;
  text-align: center;
}
footer p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (max-width: 540px) {
  .navigation {
    display: none;
  }
  body {
    margin: 0px;
  }
  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 1em 0px;
  }

  .blue-div {
    width: 1em;
    height: 1em;
    background-color: blue;
  }

  .nav-naming {
    font-family: "Poppins", sans-serif;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 1em;
    margin-left: 2em;
  }

  .smalldiv-name p {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0px;
  }
  .separation {
    display: none;
  }
  .work-title {
    margin-top: 0px;
    margin-left: 0.6em;
  }
  .smalldiv-name {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }
  .smalldiv-name p {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .work-title {
    margin: 0px;
  }

  .project-p {
    width: 90%;
  }
  .mainproject-div {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0 auto 4em auto;
    background-color: #fff;
  }
  .projectname-div {
    width: 95%;
  }
  .project-img {
    width: 100%;
    height: 40%;
  }
  .project-img img {
    width: 100%;
  }
  .footer-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column-reverse;
  }
  .socicalmedia-section {
    padding-left: 0px;
  }
  .link-wix {
    display: none;
  }
  /* nav */
  #hamburger__button-container {
    display: block;
    position: absolute;
    top: 2em;
    right: 2em;
    cursor: pointer;
    z-index: 2;
  }
  #hamburger__button-bars {
    width: 26px;
    height: 21px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform 0.33s ease-out;
  }

  .hamburger__button {
    background-color: blue;
    border-radius: 2px;
    height: 3px;
  }
  #hamburger__button-bar1 {
    width: 50%;
    transform-origin: right;
    transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }

  #hamburger__button-bar2 {
    width: 100%;
  }

  #hamburger__button-bar3 {
    align-self: flex-end;
    width: 50%;

    transform-origin: left;
    transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }
  #nav__toggle:checked ~ #hamburger__button-container #hamburger__button-bars {
    transform: rotate(-45deg);
    transition: transform 0.33s ease-out;
  }

  #nav__toggle:checked
    ~ #hamburger__button-container
    #hamburger__button-bars
    #hamburger__button-bar3 {
    transform: rotate(-90deg) translateX(-4px);
    transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }

  #nav__toggle:checked
    ~ #hamburger__button-container
    #hamburger__button-bars
    #hamburger__button-bar1 {
    transform: rotate(-90deg) translateX(4px);
    transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }
  #nav__toggle {
    display: none;
  }
  .humburger-div {
    display: block;
  }
}
