/* resume-page*/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  padding: 2em 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.blue-div {
  width: 1.2em;
  height: 1.2em;
  background-color: blue;
}

.separation {
  margin-right: 0.3em;
}
.nav-naming {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
}

.smalldiv-name {
  display: flex;
  align-items: center;
}
.smalldiv-name p {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.navigation {
  width: 40%;
}
.navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navigation ul li {
  padding-right: 1em;
  cursor: pointer;
  list-style-type: none;
}
.navigation ul li a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.navigation ul li:first-child {
  pointer-events: auto;
  color: #0150fd;
}

.navigation ul li:hover {
  color: #0150fd;
}
.humburger-div {
  display: none;
}
.resume-body,
.main-project {
  background-color: #e6dacd;
  position: relative;
}
.title-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15em;
}
.title-resume h1 {
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  margin-left: 0.3em;
}
.information-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 56%;
  margin: auto;
  margin-top: 4em;
}
.information-area h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
.cv-button {
  background-color: #0150fd;
  color: #fff;
  font-weight: bold;
  border: 2px solid #0150fd;
  border-radius: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
}
.cv-button:hover {
  background-color: #e6dacd;
  color: black;
}
.title-grid p {
  color: #403b3b;
  display: block;
  font-family: "Poppins", sans-serif;
}
.second-child,
.third-child {
  margin-top: 0px;
  font-size: 12px;
}
.main-section {
  width: 50%;
  margin: 2em auto 5em auto;

  padding: 3em 3em;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px rgb(200, 198, 198);
}
.main-section h3 {
  margin-bottom: 0;
  color: #0150fd;
}
.main-section h2 {
  font-family: "Poppins", sans-serif;
}
.cv-article {
  display: flex;
  justify-content: space-between;
}
.section-p {
  width: 50%;
}
.section-p p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: #403b3b;
}
.education-line {
  margin: 7em 0 3.5em 16.3em;
}
.education-line h2 {
  font-family: "Poppins", sans-serif;
}
.professional-skillset {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #403b3b;
}
.professional-skillset p {
  margin-left: 3px;
}
.skill-set {
  margin-left: 4em;
}
#blue-div {
  margin-left: 0px;
}
.professional-flex {
  display: flex;
}
.skillset h2 {
  margin-top: 4em;
}
.language-section {
  margin-bottom: 4em;
}
.professional-skillset1 {
  display: flex;
  align-items: center;
  margin-left: 5em;
  font-size: 14px;
  color: #403b3b;
}
.professional-skillset1 p {
  margin-left: 3px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.5em 0;
}

.link-wix {
  width: 15.5%;
  text-align: center;
  margin-left: 2em;
}
.link-wix p {
  margin-top: 1.5em;
}
.footer-section h5 {
  margin-bottom: 0.6em;
}
.socialmedia-pic {
  width: 14%;
  padding: 0 0.2em 0 0.2em;
}
.footer-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  float: right;
  text-align: center;
}
footer p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 540px) {
  .navigation {
    display: none;
  }
  body {
    margin: 0px;
  }
  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 1em 0px;
  }

  .blue-div {
    width: 1em;
    height: 1em;
    background-color: blue;
  }

  .nav-naming {
    font-family: "Poppins", sans-serif;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 1em;
    margin-left: 2em;
  }

  .smalldiv-name p {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0px;
  }
  .separation {
    display: none;
  }
  .work-title {
    margin-top: 0px;
    margin-left: 0.6em;
  }
  .smalldiv-name {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }
  .smalldiv-name p {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .work-title {
    margin: 0px;
  }
  .information-area {
    width: 90%;
    margin-top: 0px;
  }
  .title-resume {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
  }
  .education-line {
    margin: 1em 0 0 1em;
  }
  .education-line h2 {
    margin: 0px;
  }
  .professional-flex {
    display: flex;
    flex-direction: column;
  }
  .skillset h2 {
    margin-top: 0px;
  }
  .professional-flex p {
    font-size: 1rem;
  }
  .skill-set {
    margin-left: 0px;
  }
  .professional-skillset1 {
    margin-left: 0px;
    font-size: 1rem;
  }
  .cv-article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
  }
  .section-p {
    width: 80%;
  }
  .section-p p {
    font-size: 1rem;
  }
  .main-section {
    margin: 2em 0px 0px 1em;
    width: 90%;

    padding: 1.3em 1em 1.3em 2em;

    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgb(200, 198, 198);
  }
  .footer-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column-reverse;
  }
  .socicalmedia-section {
    padding-left: 0px;
  }
  .link-wix {
    display: none;
  }
  /* nav */
  #hamburger__button-container {
    display: block;
    position: absolute;
    top: 2em;
    right: 2em;
    cursor: pointer;
    z-index: 2;
  }
  #hamburger__button-bars {
    width: 26px;
    height: 21px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform 0.33s ease-out;
  }

  .hamburger__button {
    background-color: blue;
    border-radius: 2px;
    height: 3px;
  }
  #hamburger__button-bar1 {
    width: 50%;
    transform-origin: right;
    transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }

  #hamburger__button-bar2 {
    width: 100%;
  }

  #hamburger__button-bar3 {
    align-self: flex-end;
    width: 50%;

    transform-origin: left;
    transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }
  #nav__toggle:checked ~ #hamburger__button-container #hamburger__button-bars {
    transform: rotate(-45deg);
    transition: transform 0.33s ease-out;
  }

  #nav__toggle:checked
    ~ #hamburger__button-container
    #hamburger__button-bars
    #hamburger__button-bar3 {
    transform: rotate(-90deg) translateX(-4px);
    transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }

  #nav__toggle:checked
    ~ #hamburger__button-container
    #hamburger__button-bars
    #hamburger__button-bar1 {
    transform: rotate(-90deg) translateX(4px);
    transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }
  #nav__toggle {
    display: none;
  }
  .humburger-div {
    display: block;
  }
}
