* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ----------- Header style ----------- */

header {
  padding: 0 20px 10px 20px;
  display: flex;
  gap: 5px;
  background: linear-gradient(180deg, #7355cc 20%, #ff78b9);
  justify-content: space-between;
}

.header-image {
  max-width: 170px;
}

.header-icon {
  width: 30px;
  overflow: hidden;
}

.header-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(1);
}

.header-menu-text {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-evenly;
}

.header-menu-text h3 {
  width: 90%;
  text-align: end;
  font-size: 1.5rem;
  color: #eee;
  font-family: Snell Roundhand, cursive;
  line-height: 1.5rem;
}

/* ----------- Main style ----------- */

body {
  background: #7355cc;
}

main {
  background: #e6d7ff;
  padding: 20px;
  color: #3b268d;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

main h1 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.5rem;
}

.big-image {
  margin-bottom: 20px;
}

.big-image img {
  width: 100%;
  border-radius: 10px;
}

.small-image {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 20px;
}

.small-images-div {
  overflow: hidden;
  border-radius: 10px;
}

.small-images-div img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.small-images-div img:hover {
  transform: scale(1.1);
}

/* ----------- Footer style ----------- */

footer {
  background: linear-gradient(180deg, #ff78b9 5%, #7355cc);
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #eee;
  padding: 20px;
}

h4 {
  margin-bottom: 10px;
  margin-top: 10px;
}
